.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 15px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 0 !important;
}
.form-signin input[type="email"]:focus {
  border: 1px solid #66afe9;
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
  border-radius: 0 !important;
}
#login-button {
  border-radius: 0 !important;
}
/* Set input box border to red if invalid, dirty, and not empty. */
input.ng-invalid.ng-dirty.ng-not-empty { 
  border: 1px solid #f00;
}
/* Set input box border to green if valid and touched. */
input.ng-valid.ng-touched {
  border: 1px solid #5cb85c;
}
/* Set checkmark to green. */
.has-feedback label.sr-only~.form-control-feedback {
  top: 5px;
  color: #5cb85c;
}